<div class="app-sidebar sidebar-shadow bg-premium-dark sidebar-text-light">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
      <ul class="vertical-nav-menu" *ngIf="role == 'Admin'">
        <li class="app-sidebar__heading">Menu</li>
        <li class="mm-active">
          <a routerLinkActive="active" routerLink="/admin/dashboard">
            <i class="metismenu-icon pe-7s-rocket"></i>Dashboard
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/admin/districtTarget">
            <i class="metismenu-icon pe-7s-browser"></i>Implement's Target entry
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/admin/implementPrice">
            <i class="metismenu-icon pe-7s-browser"></i>Implement's Price Entry
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="metismenu-icon pe-7s-display2"></i>Reports
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 1
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 2
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 3
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/admin/changePassword">
            <i class="metismenu-icon pe-7s-browser"></i>Change your Password
          </a>
        </li>
      </ul>
      <ul class="vertical-nav-menu" *ngIf="role == 'EE'">
        <li class="app-sidebar__heading">Menu</li>
        <li class="mm-active">
          <a routerLinkActive="active" routerLink="/ee/dashboard">
            <i class="metismenu-icon pe-7s-rocket"></i>Dashboard
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/ee/stockAvailability">
            <i class="metismenu-icon pe-7s-browser"></i>Stock Availability
          </a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/ee/stockInitialisation">
            <i class="metismenu-icon pe-7s-browser"></i>Stock Initialisation
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="metismenu-icon pe-7s-display2"></i>Reports
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 1
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 2
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <i class="metismenu-icon"></i>Report 3
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/ee/changePassword">
            <i class="metismenu-icon pe-7s-browser"></i>Change your Password
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>