<form (ngSubmit)="onSubmit()" #addModifyImplementTargetForm="ngForm" novalidate autocomplete="off" role="form">
  <div class="main-card mb-3 card">
    <div class="card-header">
      <i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>Select Implement & Financial Year
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="ddlImplement" class="control-label">Implement <span class="text-danger">*</span></label>
          <select class="form-control" id="ddlImplement" [(ngModel)]="selectedImplement" name="implement"
            #implement="ngModel" (change)="loadImplementTargets();" required>
            <option value="" disabled>---Select Implement---</option>
            <option *ngFor="let x of implementList" [ngValue]="x">{{x.ImplementName}}
            </option>
          </select>
          <div [hidden]="implement.valid || implement.pristine" class="alert alert-danger">
            Implement is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="ddlFinancialYear" class="control-label">Financial Year <span class="text-danger">*</span></label>
          <select class="form-control" id="ddlFinancialYear" [(ngModel)]="selectedFinancialYear" name="financialYear"
            #financialYear="ngModel" (change)="loadImplementTargets();" required>
            <option value="" disabled>---Select Financial Year---</option>
            <option *ngFor="let x of financialYears" [ngValue]="x">{{x}}
            </option>
          </select>
          <div [hidden]="financialYear.valid || financialYear.pristine" class="alert alert-danger">
            Financial Year is required
          </div>
        </div>
      </div>
    </div>
    <div class="d-block text-right card-footer"></div>
  </div>
  <div class="main-card mb-3 card" *ngIf="selectedImplement !== '' && selectedFinancialYear !== ''">
    <div class="card-header">
      <i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>Enter District-wise targets for Normal,
      SCP & TASP
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <table style="width: 100%;" class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{ totalNormal }}</th>
            <th>{{ totalSCP }}</th>
            <th>{{ totalTASP }}</th>
            <th>{{ grandTotal }}</th>
          </tr>
          <tr>
            <th>Serial No.</th>
            <th>District</th>
            <th>Normal</th>
            <th>SCP</th>
            <th>TASP</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of implementTargetList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ x.DistrictName }}</td>
            <td>
              <input type="text" class="form-control" placeholder="Enter Target for Normal" id="targetNormal[{{i}}]"
                name="targetNormal[{{i}}]" [(ngModel)]="x.Normal"
                (ngModelChange)="calculateTotalDistrictWise(x); calculateTotalNormal();" (keypress)="keyPress($event)"
                appNumbersOnly minlength="1" maxlength="10">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Enter Target for SCP" id="targetSCP[{{i}}]"
                name="targetSCP[{{i}}]" [(ngModel)]="x.SCP"
                (ngModelChange)="calculateTotalDistrictWise(x); calculateTotalSCP();" (keypress)="keyPress($event)"
                appNumbersOnly minlength="1" maxlength="10">
            </td>
            <td>
              <input type="text" class="form-control" placeholder="Enter Target for TASP" id="targetTASP[{{i}}]"
                name="targetTASP[{{i}}]" [(ngModel)]="x.TASP"
                (ngModelChange)="calculateTotalDistrictWise(x); calculateTotalTASP();" (keypress)="keyPress($event)"
                appNumbersOnly minlength="1" maxlength="10">
            </td>
            <td>{{ x.TotalDistrictWise }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Total</th>
            <th>{{ totalNormal }}</th>
            <th>{{ totalSCP }}</th>
            <th>{{ totalTASP }}</th>
            <th>{{ grandTotal }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="d-block text-right card-footer">
      <button type="button" class="btn btn-warning" (click)="onReset();">Reset</button>
      &nbsp;|&nbsp;
      <button *ngIf="!submitted" type="submit" id="submit" class="btn btn-success"
        [disabled]="!addModifyImplementTargetForm.form.valid">Submit</button>
      <button *ngIf="submitted" type="submit" id="update" class="btn btn-info"
        [disabled]="!addModifyImplementTargetForm.form.valid">Update</button>
    </div>
  </div>
</form>