<form [formGroup]="searchPinForm" #searchPinFormID novalidate autocomplete="off" role="form">
  <mat-form-field appearance="fill">
    <mat-label>Pin</mat-label>
    <input matInput formControlName="enteredPin" appNumbersOnly minlength="6" maxlength="6" placeholder="Enter Pin"
      (focus)="addValidators($event)" (keypress)="keyPress($event)" required>
    <mat-error *ngIf="spf.enteredPin.hasError('required')">Please enter a Pin</mat-error>
    <mat-error *ngIf="spf.enteredPin.hasError('minlength') || spf.enteredPin.hasError('maxlength')">Pin must
      contain 6 characters</mat-error>
  </mat-form-field>
  <div class="btn-div">
    <button mat-raised-button mat-button color="accent" matStepperPrevious [disabled]="loading">Back</button>
    <button mat-raised-button mat-button color="primary"
      [disabled]="searchPinForm.status === 'INVALID' || spf.enteredPin.value === '' || loading"
      (click)="getSlotAvailabilityByPinForWeek()">
      <span matTooltipPosition="below"
        [matTooltip]="searchPinForm.status === 'INVALID' || spf.enteredPin.value === '' ? 'Please enter a Pin.' : ''">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Get Slot Availability
      </span>
    </button>
    <button mat-raised-button mat-button color="warn" [disabled]="loading"
      (click)="clearResetOnChange($event)">Reset</button>
  </div>
</form>