<footer class="wrapper footer-wrapper">
  <div class="footer-top-wrapper">
    <div class="container common-container four_content footer-top-container" style="max-width: 1400px !important;">
      <ul>
        <li><a routerLink="">Website Policies</a></li>
        <li><a routerLink="">Help</a></li>
        <li><a routerLink="">Contact Us</a></li>
        <li><a routerLink="">Terms and Conditions</a></li>
        <li><a routerLink="">Feedback</a></li>
        <li><a routerLink="">Web Information Manager</a></li>
        <li><a routerLink="">Visitor Analytics</a></li>
        <li><a routerLink="">FAQ</a></li>
        <li><a routerLink="">Disclaimer</a></li>
        <li><a routerLink="">Abbreviations</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom-wrapper">
    <div class="container common-container four_content footer-bottom-container">
      <div class="footer-content clearfix">
        <div class="copyright-content">
          Website Content Managed by
          <strong>Department Name, Ministry Name, Government of India</strong>
          <span>Designed, Developed and Hosted by
            <a target="_blank" title="NIC, External Link that opens in a new window" href="http://www.nic.in/">
              <strong>National Informatics Centre</strong>
            </a>
            <strong>(NIC)</strong>
          </span>
        </div>
        <div class="last-updated">
          <strong>Last Updated: DD-MM-YYYY</strong>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/.footer-wrapper-->