<form [formGroup]="addStockSupplyDataForm" #addStockSupplyDataFormID (ngSubmit)="onSubmit()" novalidate
  autocomplete="off" role="form">
  <div class="main-card mb-3 card">
    <div class="card-header">
      <i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>Select the District & the Implement
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="ddlDistrict" class="control-label">District <span class="text-danger">*</span></label>
          <select class="form-control" id="ddlDistrict" formControlName="selectedDistrict"
            (change)="loadStockSupplyData();">
            <option value="" disabled>---Select District---</option>
            <option *ngFor="let x of districtList" [ngValue]="x">{{x.DistrictName}}
            </option>
          </select>
          <div *ngIf="selectedDistrict!.invalid && (selectedDistrict!.dirty || selectedDistrict!.touched)"
            class="alert alert-danger">
            <div *ngIf="selectedDistrict!.errors!.required">
              District is required
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="ddlImplement" class="control-label">Implement <span class="text-danger">*</span></label>
          <select class="form-control" id="ddlImplement" formControlName="selectedImplement"
            (change)="loadStockSupplyData();">
            <option value="" disabled>---Select Implement---</option>
            <option *ngFor="let x of implementList" [ngValue]="x">{{x.ImplementName}}
            </option>
          </select>
          <div *ngIf="selectedImplement!.invalid && (selectedImplement!.dirty || selectedImplement!.touched)"
            class="alert alert-danger">
            <div *ngIf="selectedImplement!.errors!.required">
              Implement is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block text-right card-footer"></div>
  </div>
  <div class="main-card mb-3 card" *ngIf="stockSupplyData.length > 0">
    <div class="card-header">
      <i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>List of No. of Bookings done by Farmers, No. of Stocks initialised, No. of Stocks supplied, its date and its Approval
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <div class="table-responsive">
        <table style="width: 100%;" class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th rowspan="2">Sl. No.</th>
              <th rowspan="2">District</th>
              <th rowspan="2">Implement</th>
              <th rowspan="2">No. of Bookings done by Farmer</th>
              <th rowspan="2">No. of Stocks Initialised</th>
              <th colspan="3">OAIC</th>
              <th colspan="3">OFMRDC</th>
              <th colspan="3">OSIC</th>
            </tr>
            <tr>
              <th>Stocks to be Supplied</th>
              <th>Supply Date</th>
              <th>Approved Stocks to be Supplied</th>
              <th>Stocks to be Supplied</th>
              <th>Supply Date</th>
              <th>Approved Stocks to be Supplied</th>
              <th>Stocks to be Supplied</th>
              <th>Supply Date</th>
              <th>Approved Stocks to be Supplied</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of stockSupplyData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ x.DistrictName }}</td>
              <td>{{ x.ImplementName }}</td>
              <td>{{ x.FarmerBookingCount }}</td>
              <td>{{ x.InitializedStocks }}</td>
              <td>{{ x.StockSuppliedOAIC }}</td>
              <td>{{ x.SupplyDateOAIC }}</td>
              <td>{{ x.ApprovedSupplyOAIC }}</td>
              <td>{{ x.StockSuppliedOSIC }}</td>
              <td>{{ x.SupplyDateOSIC }}</td>
              <td>{{ x.ApprovedSupplyOSIC }}</td>
              <td>{{ x.StockSuppliedOFMRDC }}</td>
              <td>{{ x.SupplyDateOFMRDC }}</td>
              <td>{{ x.ApprovedSupplyOFMRDC }}</td>
            </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </div>
    </div>
    <div class="d-block text-right card-footer">
      <button [disabled]="!addStockSupplyDataForm.valid" type="submit" id="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>

<!-- <tr *ngFor="let x of implementStockList; let i = index">
  <td> {{ i+1 }}</td>
  <td> {{ x.DistrictName }}</td>
  <td> {{ x.implementname}}</td>
  <td> {{ x.requiredata }}</td>
  <td> {{ x.bufferdata}}</td>
  <td>{{x.stockgivenoaic || 'NA'}}</td>
  <td ng-if="x.dateuntilloaic !=null">{{x.dateuntilloaic | date: 'dd-MM-y' }}</td>
  <td ng-if="x.dateuntilloaic ==null">{{"NA" }}</td>
  <td ng-if="x.stockgivenoaic !=null"> <input type="text" class="form-control"
      placeholder="Enter actual stock given"
      style="background-color: rgb(255, 255, 255) !important ;width: 200px;"
      name="approvedstockgivenoaic[{{i+1}}]" ng-model="x.approvedstockgivenoaic" minlength="1" maxlength="3"
      onkeypress='numberValidate(event)' allow-numbers-onlyrequired></td>
  <td ng-if="x.stockgivenoaic ==null">{{"NA"}}</td>
  <td>{{x.stockgivenofmrdc || 'NA'}}</td>
  <td ng-if="x.dateuntillofmrdc !=null">{{x.dateuntillofmrdc | date: 'dd-MM-y' }}</td>
  <td ng-if="x.dateuntillofmrdc ==null">{{"NA" }}</td>
  <td ng-if="x.stockgivenofmrdc !=null"> <input type="text" class="form-control"
      placeholder="Enter actual stock given"
      style="background-color: rgb(255, 255, 255) !important ;width: 200px;"
      name="approvedstockgivenofmrdc[{{i+1}}]" ng-model="x.approvedstockgivenofmrdc" minlength="1"
      maxlength="3" ng-change="calculateProductivity(data)" onkeypress='numberValidate(event)'
      allow-numbers-onlyrequired></td>
  <td ng-if="x.stockgivenofmrdc ==null">{{"NA"}}</td>
  <td>{{x.stockgivenosic || 'NA'}}</td>
  <td ng-if="x.dateuntillosic !=null">{{x.dateuntillosic | date: 'dd-MM-y' || 'NA' }}</td>
  <td ng-if="x.dateuntillosic ==null">{{"NA" }}</td>
  <td ng-if="x.stockgivenosic !=null"> <input type="text" class="form-control"
      placeholder="Enter actual stock given"
      style="background-color: rgb(255, 255, 255) !important ;width: 200px;"
      name="approvedstockgivenosic[{{i+1}}]" ng-model="x.approvedstockgivenosic" minlength="1" maxlength="3"
      ng-change="calculateProductivity(data)" onkeypress='numberValidate(event)' allow-numbers-onlyrequired>
  </td>
  <td ng-if="x.stockgivenosic ==null">{{"NA"}}</td>
  <td ng-if="x.stockgivenosic ==null"></td>
</tr> -->